<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.2.4" package="com.pageapplication.PamesBoutique"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <permission android:name="com.pageapplication.PamesBoutique.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.pageapplication.PamesBoutique.permission.C2D_MESSAGE" />
    <application android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" android:icon="@drawable/ic_launcher_appicon" android:name="com.pageapplication.PamesBoutique.pamesboutiqueApplication" android:allowBackup="true">
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" android:name="com.lilkillaware.fbapptemplate.activities.MainActivity" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection" />
        <activity android:theme="@style/AppTheme" android:label="@string/app_name" android:name="com.lilkillaware.fbapptemplate.activities.SplashActivity" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppTheme" android:label="@string/app_name" android:name="com.lilkillaware.fbapptemplate.activities.SettingsActivity" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection" />
        <activity android:theme="@style/AppTheme" android:label="@string/app_name" android:name="com.lilkillaware.fbapptemplate.activities.FBProfileActivity" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection" />
        <activity android:theme="@style/AppTheme" android:label="@string/app_name" android:name="com.lilkillaware.fbapptemplate.activities.PhotoViewActivity" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection" />
        <activity android:theme="@style/AppTheme" android:label="@string/app_name" android:name="com.lilkillaware.fbapptemplate.activities.TextViewActivity" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection" />
        <activity android:theme="@style/AppTheme" android:label="@string/app_name" android:name="com.lilkillaware.fbapptemplate.activities.AboutActivity" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" android:name="com.facebook.LoginActivity" android:configChanges="keyboard|keyboardHidden|orientation" />
        <receiver android:name="com.lilkillaware.fbapptemplate.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.pageapplication.PamesBoutique" />
            </intent-filter>
        </receiver>
        <service android:name="com.lilkillaware.fbapptemplate.GcmIntentService" />
        <receiver android:name="com.lilkillaware.fbapptemplate.FeedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <service android:name="com.lilkillaware.fbapptemplate.services.FeedCheckService">
            <intent-filter>
                <action android:name="com.pageapplication.PamesBoutique.FB_CHECK_ACTION" />
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/g_apis_key" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id" />
    </application>
</manifest>